:root {
    --color-bc_absolut: #f7f7f7;
    --color-bc_primary: #f0f0f0;
    --color-bc_secondary: #e0e0e0;
    --color-bc_secondary: #000000;
    --color-font_primary: #757575;
    --color-font_secondary: #9f9f9f;
}
:root{
    --colordark-bc-primary:#0f0f0f;
    --colordark-bc-secondary:#0f0f0f;
}