* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    height: 100vh;
}

body {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 100%;
    background-color: #e0e0e0;
    padding: 2rem 0;
}

td,th{
    text-wrap: nowrap;
}

#container {
    display: flex;
    position: relative;
    width: 100%;
    gap: 1rem;
    max-width: 1200px;
    height: 100%;
    padding: 2rem;
    box-sizing: border-box;
    background-color: #f0f0f0;
    border-radius: 10px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2),
        0 2px 10px rgba(0, 0, 0, 0.2) inset;
}

#block {
    flex: 1;
    display: flex;
    flex-direction: column;
    position: relative;
    padding: 2rem 1rem;
    overflow-y: auto;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2),
        0 2px 10px rgba(0, 0, 0, 0.2) inset;
}

#main{
    width: 100%;;
}

#helper,
#helperOff {
    height: max-content;
    padding: 2rem;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2),
        0 2px 10px rgba(0, 0, 0, 0.2) inset;
}

#helperOff {
    display: none;
    writing-mode: sideways-lr;
    font-weight: 600;
    padding: 1rem 0.5rem;
}


.card {
    display: flex;
    flex-direction: column;
    width: 100%;
    position: relative;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    margin-bottom: 1rem;
    padding: 1rem;
}
.card > .card_header {
    display: flex;
    justify-content: space-between;
    width: 100%;
    font-size: 1.3rem;
    font-weight: bold;
    padding: 0 1rem ;
    margin-bottom: 0.5rem;
}
.card > .card_content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 2%;
    flex-wrap: wrap;
    margin-bottom: 0.5rem;
}
.card > .card_content > div.article {
    flex: 1 0 45%;
    margin-bottom: 1rem;
    font-size: 1rem;
    border: 1px solid #ccc;
    padding: 0.5rem;
}
.card > .card_content > div.article > .article_header{
    font-weight: bold;
}
.card > .card_content > div.article div.article_content {
    font-size: 1rem;
    margin-left: 1rem;
}

.card > .card_content > div.article > div.article_content tr td:nth-child(n+2){
    text-align: center;
}

.card > .card_content > div.article > div.article_content input {
    text-align: center;
}
.card > .card_content > div.article > div.article_content input, 
.card > .card_content > div.article div.article_content input.dec,
.card > .card_content > div.article div.article_content input.hex {
    width: 78px;
}
.card > .card_content > div.article div.article_content input.bin {
    width: 38px;
}
.card > .card_content > div.article div.article_content input.answerTrue{
    background-color: rgb(0, 200, 0);
}

.card > .card_content > div.article div.article_content input.answerFalse{
    background-color: rgb(255, 46, 46);
} 
