html,body{
    margin: 0;
    padding: 0;
}
body{
    display: flex;
    justify-content: center;
    width: 100%;
    margin-top: 20px;
}

h1{
    margin: 0;
    padding: 10px 0 0;
    font-size: 1.5rem;
}
h2{
    margin: 0;
    padding: 10px 0 0;
    font-size: 1.25rem;
}
pre{
    margin: 0;
    padding: 5px 0 0;
    font-size: 1.25rem;
}
input{
    width: 70px;
    text-align: center;
}
table{
    margin-top: 1rem;
    border-collapse: collapse;
}
/* td{} */
#main{
    width: 1200px;
    max-width: 80%;
}
.container{
    border: 2px solid black;
    border-radius: 10px;
    padding: 0 20px;
    margin-bottom: 20px;
    background-color: aqua;
    min-height: 10px;
}
.answerTrue{
    background-color: rgb(0, 200, 0);
}

.answerFalse{
    background-color: rgb(255, 46, 46);
}